assets/images/noderedexample.flow
[{"id":"16919549.e49263","type":"http request","z":"a4b9fb9d.e4cdc","name":"","method":"GET","ret":"txt","url":"","tls":"","x":416.5,"y":76.19999694824219,"wires":[["3341de97.ff5822"]]},{"id":"242e2a6a.53eac6","type":"inject","z":"a4b9fb9d.e4cdc","name":"","topic":"","payload":"http://wtfismyip.com/text","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.5,"y":79,"wires":[["31f2f269.891ba6"]]},{"id":"31f2f269.891ba6","type":"function","z":"a4b9fb9d.e4cdc","name":"","func":"//var newmsg = Object.create(msg);\nmsg.url = msg.payload;\nmsg.method = 'GET';\nreturn msg;","outputs":1,"noerr":0,"x":237.49998474121094,"y":78.19999694824219,"wires":[["16919549.e49263"]]},{"id":"3341de97.ff5822","type":"template","z":"a4b9fb9d.e4cdc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello World!\nYour public IP address: {{payload}}","x":209.49998474121094,"y":317.79998779296875,"wires":[["80c6b880.91ba18"]]},{"id":"80c6b880.91ba18","type":"debug","z":"a4b9fb9d.e4cdc","name":"","active":true,"console":"false","complete":"false","x":401.49998474121094,"y":319.1999969482422,"wires":[]}]